html, body {
	margin : 0;
	padding : 0;
	height : 100%;
}

a,a:visited,a:hover,a:focus,a:active {
	text-decoration : none;
	color : #FFFFFF;
}

.top-menu {
	width : 100%;
	height : 60px;
	padding-right : 30px;
	line-height : 60px;
	left : 0px;
	top : 0px;
	text-align : right;
	background-color: #6090E0;
	font-size : 40px;
	color : #FFFFFF;
}

.not-login-main {
	height : 100%;
	padding : 30% 0%;
	font-size : 50px;
	text-align : center;
	color : #FF4020;
}

.login-main {
	padding : 5% 0%;
	text-align : center;
}

.main-logo {
	width : 30%;
}

.fire-extinguisher-list {
	width : 100%;
	font-size : 20px;
}

.inspection-main {
	font-size : 20px;
	color : #000000;
}
