html, body {
	margin : 0;
	padding : 0;
	height : 100%;
}

a,a:visited,a:hover,a:focus,a:active {
	text-decoration : none;
	color : #FFFFFF;
}

.top-menu {
	width : 100%;
	height : 60px;
	line-height : 60px;
	padding-right : 1em;
	left : 0px;
	top : 0px;
	text-align : right;
	background-color: #6090E0;
	font-size : 40px;
	color : #FFFFFF;
}

.not-login-main {
	height : 100%;
	padding : 30% 0%;
	font-size : 50px;
	text-align : center;
	color : #FF4020;
}

.login-main {
	padding : 5% 0%;
	text-align : center;
}

.main-logo {
	width : 30%;
}

.search {
	font-size : 15px;
	margin : 5px;	
}

.list {
	width : 90%;
	font-size : 20px;
	margin : 0px auto;
}

.list-table {
	border : 1px solid #000000;
	border-collapse : collapse;
	width : 100%;
}

td {
	border : 1px solid #000000;
	padding : 1px 5px;
}

td.qr {
	border : 0px;
	padding : 0px;
}

.inspection-main {
	font-size : 20px;
	color : #000000;
}

.qr-page {
	width : 210mm;
	height : 297mm;
	margin : 10mm 0mm;
}

.qr-image {
	width : 66mm;
	margin : 2mm;
	float : left;
	font-size : 20px;
	text-align : center;
}
