{% extends "base.html" %}
{% load static %}
{% block title %}
	add fire_extinguisher
{% endblock title %}
{% block content %}
<div class="top-menu">
	<a href="/index">Home</a> {{user.name}} <a href="/logout">log out</a>
</div>
<div class="container">
	<form action="/addfireextinguisher/" method="POST">
		{% csrf_token %}
		<div class="form-line"><div class="form-text">장소</div><input class="form-input" type="text" name="place"></div>
		<div class="form-line"><div class="form-text">마지막 점검일</div><input class="form-input" type="date" name="lastinspectiondate"></div>
		<div class="form-line"><div class="form-text">담당자</div><select style="width:45%" name="maininspector" class="select-box">
		{% for User in userList %}
			<option value={{User.serviceNumber}}>{{User.name}}</option>
		{% endfor %}
		</select></div>
	<input class="submit-btn" type="submit" value="등록">
	</form>
</div>
{{error}}
{% endblock content %}
