{% extends "base.html" %}
{% load static %}
{% block title %}
	add fire_extinguisher
{% endblock title %}
{% block content %}
<div class="top-menu">
	<a href="/index">Home</a> {{user.name}} <a href="/logout">log out</a>
</div>
<div class="container">
	<form action="/updatefireextinguisher/" method="POST">
		{% csrf_token %}
		<div class="form-text">장소</div><input class="form-input" type="text" name="place"><br>
		<div class="form-text">마지막 점검일</div><input class="form-input" type="date" name="lastinspectiondate"><br>
		<div class="form-text">담당자</div><select name="maininspector">
		{% for User in userList %}
			<option value={{User.serviceNumber}}>{{User.name}}</option>
		{% endfor %}
	</select>
	<br><input type="submit" value="등록">
	</form>
</div>
{{error}}
{% endblock content %}
