{% extends "base.html" %}
{% load static %}
{% block title %}
	새로운 소화기 등록
{% endblock title %}
{% block content %}
<script type="text/javascript">
	$(function(){
		$("#last-inspection-date").val(new Date().toISOString().substring(0,10));
	});
</script>
<div class="top-menu">
	<a href="/index">Home</a> {{user.name}} <a href="/logout">log-out</a>
</div>
<div class="container">
	<form action="/addfireextinguisher/" enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		<div class="form-line"><div class="form-text">장소</div><input class="form-input" type="text" name="place"></div>
		<div class="form-line"><div class="form-text">마지막 점검일</div><input class="form-input" type="date" name="lastinspectiondate" id="last-inspection-date"></div>
		<div class="form-line"><div class="form-text">담당자</div><select style="width:45%" name="maininspector" class="select-box">
		{% for User in userList %}
			<option value={{User.serviceNumber}}
			{% if User.serviceNumber == user.serviceNumber %}
				selected="selected"
			{% endif %}
			>{{User.name}}</option>
		{% endfor %}
		</select></div>
		<div class="form-line"><div class="form-text">담당 중대</div>
			<select name="company" style="width:45%" class="select-box">
				<option value="1CO">1CO</option>
				<option value="2CO">2CO</option>
				<option value="3CO">3CO</option>
				<option value="HQ">HQ</option>
			</select>
		</div>
		<div class="form-line"><div class="form-text">사진</div><input type="file" id="image" name="img" accept="image/*"/></div>
		<input class="submit-btn" type="submit" value="등록">
		<div class="error-text">{{error}}</div>
	</form>
</div>
{% endblock content %}
