{% extends "base.html"  %}
{% load static %}
{% block title %}
	점검일 목록
{% endblock title %}
{% block content %}
<script type="text/javascript">
	$(function(){
		$("#ck-all").click(function(){
			if($("#ck-all").prop("checked")){
				$('input[name=inspectiondate]').prop('checked',true);
			}
			else{
				$('input[name=inspectiondate]').prop('checked',false);
			}
		});
	
		$("#up").click(function(){
			if($("#pgnum").val () != {{maxPageNumber}}){
				$("#pgnum").val(parseInt($("#pgnum").val())+1);
				$("form").submit();
			}
		});

		$("#down").click(function(){
			if($("#pgnum").val() != 1){
				$("#pgnum").val(parseInt($("#pgnum").val())-1);
				$("form").submit();
			}
		});

		$("#end").val(new Date().toISOString().substring(0,10));	
	});
</script>
<div class="top-menu">
	<a href="/index">Home</a> {{user.name}} <a href="/logout">log-out</a>   
</div>
<div class="search">
	<form>
		<select name="searchtype" class="select-box">
			<option value="place">장소</option>
			<option value="mainInspector">담당자</option>
		</select>
		<input type="text" name="search" value={{search}}>
		<input type="date" name="start">~<input type="date" name="end" id="end">
		<input class="submit-btn" style="float:right" type="submit" value="검색">
		{% if user.is_admin %}	
			<input class="submit-btn" style="float:right; margin-right:10px" type="submit" name="delete" value="삭제">
		{% endif %}
</div>
<div class="list">
	<table class="list-table">
	<tr>
	{% if user.is_admin %}
		<td style="width:1em"><input type="checkbox" id="ck-all"></td>
	{% endif %}
		<td style="width:10em">소화기 위치</td><td style="width:14em">마지막 점검일</td><td style="width:5em">담당자</td><td>특이사항</td></tr>     	
		{% for inspectionDate in inspectionDateList %}
		<tr>	
			{% if user.is_admin %}
				<td><input type="checkbox" name="inspectiondate" value={{inspectionDate.id}}></td>
			{% endif %}
			<td>{{inspectionDate.fireExtinguisher}}</td>
			<td>{{inspectionDate.inspectionDate}}</td>
			<td>{{inspectionDate.inspector}}</td>
			<td>{{inspectionDate.result}}</td>
		</tr>	
		{% endfor %}
	</table>
	<div class="page-select">
		<input id="down" type="button" value="<">
		<input type="text" name="pagenumber" id="pgnum" style="text-align:center; width:2em" value=
		{% if pageNumber %}
			{{pageNumber}}
		{% else %}
			1
		{% endif %}>
		<input id="up" type="button" value=">">
	</div>
</div>
</form>
{% endblock content %}
