{% extends "base.html"  %}
{% load static %}
{% block title %}
    list 
{% endblock title %}
{% block content %}
<div class="top-menu">
	<a href="/index">Home</a> {{user.name}} <a href="/logout">log out</a>   
</div>
<div class="inspection-main">
	<ol>
		{% for fireextinguisher in fireExtinguisher %}
			<li>{{fireextinguisher.place}} {{fireextinguisher.lastInspectionDate}} {{fireextinguisher.mainInspector}}
			<button onClick="location.href='/inspectionupdate?place={{fireextinguisher.place}}'">inspection</button>
			</li>
		{% endfor %}
	</ol>
</div>
{% endblock content %}
