{% extends "base.html"  %}
{% load static %}
{% load qr_code %}
{% block title %}
    list 
{% endblock title %}
{% block content %}
<div class="top-menu">
	<a href="/index">Home</a> {{user.name}} <a href="/logout">log out</a>   
</div>
<form> 
	<div class="search">
		<select name="serviceNumber" class="select-box">
			<option value="all">All</option>
			{% for User in userList %}
				<option value="{{ User.serviceNumber }}"
				{% if User.serviceNumber == serviceNumber %}
					selected="selected"
				{% endif %}>
				{{User.name}}</option>
			{% endfor %}
		</select>
		<input type="text" name="search" value={{search}}>
		{% if user.is_admin %}
			<select name="mode" class="select-box">
				<option value="" selected="selected">검색</option>
				<option value="qr">QRcode 보기</option>
				<option value="delete">삭제</option>
				<option value="add">등록</option>
			</select>	
		{% endif %}
		<input class="submit-btn" style="float:right" type="submit" value="검색">
		<select name="sort" style="float:right; margin-right:5px" class="select-box">
			<option value="place" selected="selected">위치 오름차순</option>
			<option value="-place">위치 내림차순</option>
			<option value="lastInspectionDate">점검일 오름차순</option>
			<option value="-lastInspectionDate">점검일 내림차순</option>
			<option value="mainInspector">담당자 오름차순</option>
			<option value="-mainInspector">담당자 내림차순</option>
		</select>
	</div>
	<div class="list">
	<table class="list-table">	
		<tr>
		{% if user.is_admin %}
			<td style="width:2em">선택</td>
		{% endif %}<td style="width:10em">소화기 위치</td><td>마지막 점검일</td><td style="width:8em">담당자</td></tr>
		{% for fireExtinguisher in fireExtinguisherList %}
		<tr>
		{% if user.is_admin %}
			<td><input type="checkbox" name="fireextinguisher" value={{fireExtinguisher.id}}></td>
			<td><a style="color:#000000" href="/updatefireextinguisher?id={{fireExtinguisher.id}}">{{fireExtinguisher.place}}</a></td>
			{% else %}
				<td>{{fireExtinguisher.place}}</td>
			{% endif %}		
			<td>{{fireExtinguisher.lastInspectionDate}}</td>
			<td>{{fireExtinguisher.mainInspector}}</td>
		</tr>	
	{% endfor %}
	</table>
</form>
</div>
{% endblock content %}
