{% extends "base.html" %}
{% block title %}
	로그인
{% endblock title %}
{% block content %}
<div class="top-menu">
	<a href="/index">Home</a> <a href="/signup">sign up</a>
</div>
<div class="container">
	<font size=40px color=#6090E0>Login</font>
	<form class="form-main" method="POST">
		{% csrf_token %}
		<div class="form-line"><div class="form-text">군번</div><input class="form-input" name="serviceNumber" type="text"></div>
		<div class="form-line"><div class="form-text">비밀번호</div><input class="form-input" name="password" type="password"></div>
		<input type="submit" class="submit-btn" value="login">
		<br>
		<div class="error-text">{{error}}</div>
	</form>
</div>
{% endblock content %}
