{% extends "base.html" %}
{% load static %}
{% block title %}
	점검 기록 등록
{% endblock title %}
{% block content %}
<script type="text/javascript">
	$(function(){
		$("input[name=qrimg]").change(function(){
			var size = $("input[name=qrimg]")[0].files[0].size;
			if(size > 1024*1024){
				alert("첨부파일 사이즈는 1MB 이내로 등록 가능합니다.");
				$("input[name=qrimg]").val("");
			}
		});
	});
</script>
<div class="top-menu">
	<a href="/index">Home</a> {{user.name}} <a href="/logout">log-out</a>
</div>
<div class="container">
	<font size=40px color=#6090E0>점검 기록 등록</font>
	<form class="form-main" enctype="multipart/form-data" action="/qrapi/" method="POST">
		{% csrf_token %}
		<div class="form-line"><div class="form-text">QR code</div><input class="form-input" style="border:#000000" name="qrimg" type="file"/></div>
		<div class="form-line"><div class="form-text">QR 값 직접입력</div><input class="form-input" name="qrdata" type="text"/></div>
		<div class="form-line"><div class="form-text">특이사항</div><input class="form-input" name="result" type="text" value="이상 없음"></div>
		<input class="submit-btn" type="submit" value="확인"/>
	</form>
</div>
<div class="error-text">{{error}}</div>
{% endblock content %}
