{% extends "base.html" %}
{% block title %}
	회원가입
{% endblock title %}
{% block content %}
<div class="top-menu">
	<a href="/index">Home</a> <a href="/login">log-in</a>
</div>
<div class="container">
	<font size=40px color=#6090E0>sign up</font>
	<form class="form-main" method="post">
		{% csrf_token %}
		<div class="form-line"><div class="form-text">군번</div><input class="form-input" name="serviceNumber" type="text"><br></div>
		<div class="form-line"><div class="form-text">비밀번호</div><input class="form-input" name="password1" type="password"><br></div>
		<div class="form-line"><div class="form-text">비밀번호 확인</div><input class="form-input" name="password2" type="password"><br></div>
		<div class="form-line"><div class="form-text">이름</div><input class="form-input" name="name" type="text"></div>
		<div class="form-line"><div class="form-text">소속 중대</div>
			<select name="company" style="width:45%" class="select-box">
				<option value="1CO">1CO</option>
				<option value="2CO">2CO</option>
				<option value="3CO">3CO</option>
				<option value="HQ">HQ</option>
			</select>	
		</div>
		<input class="submit-btn" type="submit" value="sign up"/>
	</form>
</div>
<div class="error-text">{{error}}</div>
{% endblock content %}
