{% extends "base.html"  %}
{% load static %}
{% load qr_code %}
{% block title %}
	회원 정보 변경
{% endblock title %}
{% block content %}
<script type="text/javascript">
	$(function(){
		$("#delete").click(function(){
			var ok;
			ok = confirm("군번은 변경할 수 없습니다.\n계정을 삭제합니까?");
			if(ok){
				$("form").attr('action', "/deleteuser/");
				$("form").submit();
			}
		});
	});
</script>
<div class="top-menu">
	<a href="/index">Home</a> {{user.name}} <a href="/logout">log-out</a>   
</div>
<div class="container">
	<form class="form-main" method="POST">
		{% csrf_token %}
		<div class="form-line"><div class="form-text">군번</div><input class="form-input" name="serviceNumber" type="text" value={{User.serviceNumber}} id="delete" readOnly></div>
		<div class="form-line"><div class="form-text">이름</div><input class="form-input" name="name" type="text" value={{User.name}}></div>
		<div class="form-line"><div class="form-text">새로운 비밀번호</div><input class="form-input" name="password1" type="password"></div>
		<div class="form-line"><div class="form-text">확인용 비밀번호</div><input class="form-input" name="password2" type="password"></div>
		{% if not user.is_admin %}
			<div class="form-line"><div class="form-text">기존 비밀번호</div><input class="form-input" name="originpassword" type="password"></div>
		{% endif %}	
		{% if user.is_admin %}
			<div class="form-line"><div class="form-text">관리자 권한</div><div><input name="adminAuth" type="checkbox" value="admin" {% if User.is_admin %}checked{% endif %}></div></div>
		{% endif %}	
		<div class="form-line"><input class="submit-btn" type="submit" value="변경"></div>
	</form>
	{{error}}
</div>
{% endblock content %}
