{% extends "base.html"  %}
{% load static %}
{% load qr_code %}
{% block title %}
	사용자 목록
{% endblock title %}
{% block content %}
<script type="text/javascript">
	$(function(){
		$("#up").click(function(){
			if($("#pgnum").val () != {{maxPageNumber}}){
				$("#pgnum").val(parseInt($("#pgnum").val())+1);
				$("form").submit();
			}
		});
   
		$("#down").click(function(){
			if($("#pgnum").val() != 1){
				$("#pgnum").val(parseInt($("#pgnum").val())-1);
				$("form").submit();
			}
		});
	});
</script>
<div class="top-menu">
	<a href="/index">Home</a> {{user.name}} <a href="/logout">log-out</a>   
</div>
<div class="search">
<form method="GET">
	<select name="searchtype" class="select-box">
		<option value="serviceNumber">군번</option>
		<option value="name">이름</option>	
	</select>
	<input type="text" name="search" value={{search}}> 
	<input class="submit-btn" style="float:right" type="submit" value="검색"> 
	<select name="sort" style="float:right; margin-right:5px" class="select-box">                             
		<option value="serviceNumber" selected="selected">군번 오름차순</option>
		<option value="-serviceNumber">군번 내림차순</option>
		<option value="name">이름 오름차순</option>
		<option value="-name">이름 내림차순</option>
	</select>
</div>
<div class="list">
<table class="list-table">	
	<tr><td style="width:8em">군번</td><td>이름</td></tr>
	{% for User in userList %}
		<tr>		
			<td><a style="color:#000000" href="/updateuser?serviceNumber={{User.serviceNumber}}">{{User.serviceNumber}}</a></td>
			<td>{{User.name}}</td>
		</tr>
	{% endfor %}
</table>
	<div class="page-select">
		<input id="down" type="button" value="<">
		<input type="text" name="pagenumber" id="pgnum" style="text-align:center; width:2em" value=                 
		{% if pageNumber %}
			{{pageNumber}}
		{% else %}
			1
		{% endif %}>
		<input id="up" type="button" value=">">
	</div>
</div>
</form>
{% endblock content %}
